.error {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.error__title {
  margin: 10px 0;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.625rem;
  line-height: 1.167;
}

.error__subtitle {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.00938em;
  color: #8d919f;
}
